<h2>Dodawanie kolejki</h2>
<form action="admin/matches/add2" method="post">
	<div class="section">
		<div class="theader">
			<div class="theader2">Rozgrywki</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="competition_id">Rozgrywki<br /><small>W jakich rozgrywkach</small></label>
				<div class="right">
				<select id="competition_id" name="competition_id">
				{% for k, v in related_competition_id %}
					<option value="{{ k }}">{{ v|e }}</option>
				{% endfor %}
				</select>
				</div>
			</div>
			<div class="elem">
				<label for="season_id">Sezon<br /><small>W jakim sezonie</small></label>
				<div class="right">
				<select id="season_id" name="season_id">
				{% for k, v in related_season_id %}
					<option value="{{ k }}">{{ v|e }}</option>
				{% endfor %}
				</select>
				</div>
			</div>
			<div class="elem">
				<label for="fixture_id">Kolejka<br /><small>W której kolejce jest ten mecz. Jeśli nie istnieje zostanie automatycznie utworzona</small></label>
				<div class="right">
				<input type="text" id="fixture_id" name="fixture_id" />
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="theader">
			<div class="theader2">Spotkania (gospodarz, gość, data, wynik)</div>
		</div>
		<div class="section-content">
			<div id="elements">
				<div class="elem" id="opt-1" style="text-align: center">
					<select name="matches[1][home_id]" style="width: 250px">{{ related_home_id }}</select>
					<select name="matches[1][away_id]" style="width: 250px">{{ related_home_id }}</select>
					<input type="text" name="matches[1][date]" class="timepicker" style="width: 140px" />
					<input type="text" name="matches[1][score]" maxlength="5" style="width: 50px" />
				</div>
			</div>
			<div class="toolbar ui-widget-header ui-corner-all">
				<a class="add-elem">Dodaj</a>
				<a class="remove-elem">Usuń</a>
			</div>
		</div>
	</div>
	<div class="toolbar ui-widget-header ui-corner-all">
		{{ form_token() }}
		<input type="submit" name="submit" style="width: auto" value="Zapisz" />
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
	$('#fixture_id').autocomplete({
		minLength: 2,
		source: function( request, response ) {
			$.ajax({
				url: IONIC_BASE_URL+'admin/matches/autocomplete_fixture',
				type: 'POST',
				dataType: 'json',
				data: {
					competition: $('#competition_id').val(),
					season: $('#season_id').val(),
					query: request.term
				},
				success: function( data ) {
					response(data);
				}
			});
		}
	});

	$('.timepicker').datetimepicker({
		timeFormat: 'HH:mm:ss',
		dateFormat: 'yy-mm-dd',
		showSecond: true
	});

	$('.add-elem').button({icons: {primary: 'ui-icon-plus'}}).click(function(){
		IonicAdmin.addOption("<div class=\"elem\" id=\"opt-optid\" style=\"text-align: center\"><select name=\"matches[optid][home_id]\" style=\"width: 250px\">{{ related_home_id|addslashes }}</select>				<select name=\"matches[optid][away_id]\" style=\"width: 250px\">{{ related_home_id|addslashes }}</select>				<input type=\"text\" name=\"matches[optid][date]\" class=\"timepicker\" style=\"width: 140px\" />				<input type=\"text\" name=\"matches[optid][score]\" maxlength=\"5\" style=\"width: 50px\" /></div>");
		$('#opt-'+IonicAdmin.options+' .timepicker').datetimepicker({
			timeFormat: 'HH:mm:ss',
			dateFormat: 'yy-mm-dd',
			showSecond: true
		});
	});
	$('.remove-elem').button({icons: {primary: 'ui-icon-trash'}}).click(function() {
		IonicAdmin.deleteOption();
	});
});
</script>