<h2>Edycja głosowania</h2>
<form action="admin/matchpicks/edit/{{ object.id }}" method="post">
	<div class="section">
		<div class="theader">
			<div class="theader2">Podstawowe</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="title">Tytuł<br /><small>Tytuł głosowania</small></label>
				<div class="right">
				{% if errors.has('title') %}
					<div class="error">{{ errors.first('title') }}</div>
				{% endif %}
				<input type="text" id="title" name="title" value="{% if old_data.title != '' %}{{ old_data.title|e }}{% else %}{{ object.title }}{% endif %}" />
				</div>
			</div>
			<div class="elem">
				<label for="expires">Data wygaśnięcia<br /><small>Kiedy zakończyć głosowanie, opcjonalne</small></label>
				<div class="right">
				{% if errors.has('expires') %}
					<div class="error">{{ errors.first('expires') }}</div>
				{% endif %}
				<input class="timepicker" type="text" id="expires" name="expires" value="{% if old_data.expires != '' %}{{ old_data.expires|e }}{% elseif object.expires != '0000-00-00 00:00:00' %}{{ object.expires }}{% endif %}" />
				</div>
			</div>
			<div class="elem">
				<label for="match">Mecz<br /><small>Powiązany mecz. Gospodarz - Gość</small></label>
				<div class="right">
				{% if errors.has('match') %}
					<div class="error">{{ errors.first('match') }}</div>
				{% endif %}
				<input type="hidden" id="match" name="match" style="width: 100%" value="{{ match.id }}" />
				</div>
			</div>
			<div class="elem">
				<label for="players">Zawodnicy<br /><small>Zawodnicy ,na których można głosować</small></label>
				<div class="right">
					<select name="players[]" id="players" multiple="multiple" style="width: 100%">
						{% for team, list in players %}
						<optgroup label="{{ team }}">
							{% for k,v in list %}
							<option value="{{ k }}"{% if old_players[k] is defined %} selected="selected"{% endif %}>{{ v }}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="toolbar ui-widget-header ui-corner-all">
		{{ form_token() }}
		<input type="submit" name="submit" style="width: auto" value="Zapisz" />
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
	$('#players').select2({closeOnSelect: false});
	$('#match').select2({
	    placeholder: 'Brak',
	    minimumInputLength: 2,
	    ajax: {
	    	url: IONIC_BASE_URL+'admin/matchpicks/autocomplete_match',
	        dataType: 'json',
	        type: 'POST',
	        data: function (term, page) {
	            return {
	                query: term, // search term
	            };
	        },
	        results: function (data, page) {
	            return {results: data};
	        }
	    },
	    dropdownCssClass: 'bigdrop', // apply css that makes the dropdown taller
	    escapeMarkup: function(m) { return m; },
	    formatSearching: function() { return 'Wyszukiwanie ...'; },
	    formatNoMatches: function() { return 'Nic nie znaleziono'; },
	    formatInputTooShort: function(term, minLength) { return 'Wprowadź conajmniej '+minLength+' znaków'; },
	    initSelection: function(element, callback) {
			callback({id: $(element).val(), text: '{{ match.name }} - {{ match.away_name }}'});
		}
	});
	$('.timepicker').datetimepicker({
		timeFormat: 'HH:mm:ss',
		dateFormat: 'yy-mm-dd',
		showSecond: true
	});
});
</script>