<h2>Edycja zdjęcia</h2>
<form action="admin/photos/edit/{{ object.id }}" method="post" enctype="multipart/form-data">
	<div class="section">
		<div class="theader">
			<div class="theader2">Podstawowe</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="title">Tytuł<br /><small>Tytuł zdjęcia</small></label>
				<div class="right">
				{% if errors.has('title') %}
					<div class="error">{{ errors.first('title') }}</div>
				{% endif %}
				<input type="text" id="title" name="title" value="{% if old_data.title != '' %}{{ old_data.title|e }}{% else %}{{ object.title }}{% endif %}" />
				</div>
			</div>
			<div class="elem">
				<label for="category_id">Kategoria<br /><small>Kategoria pliku</small></label>
				<div class="right">
					<select name="category_id" id="category_id">
					{% for k, v in categories %}
					<option value="{{ k }}"{% if k == object.category_id %} selected="selected"{% endif %}>{{ v }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="theader">
			<div class="theader2">Upload</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="image">Zdjęcie<br /><small>Zostaw puste jeśli bez zmian</small></label>
				<div class="right">
				{% if errors.has('image') %}
					<div class="error">{{ errors.first('image') }}</div>
				{% endif %}
				<input type="file" id="image" name="image" />
				</div>
			</div>
		</div>
	</div>
	<div class="toolbar ui-widget-header ui-corner-all">
		{{ form_token() }}
		<input type="submit" name="submit" style="width: auto" value="Zapisz" />
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
});
</script>