<div class="ionic-box">
	<h2>{{ board.title }}</h2>
	<div class="ionic-toolbar">
		{% if can_new %}
		<a href="board/new/{{ board.id }}">Utwórz nowy temat</a>
		{% endif %}
		<a href="forum">Strona główna forum</a>
	</div>
</div>
{% if sub_boards|length > 0 %}
<h2 class="ionic-forum-caption">Podkategorie</h2>
<table class="ionic-table ionic-forum-table">
	<tr>
		<th class="board-content">Forum</th>
		<th class="stats">Tematów / Postów</th>
		<th class="last-thread">Ostatni post</th>
	</tr>
	{% for b in sub_boards %}
	<tr>
		<td class="board-content">
			{% if unread[b[0].id] %}
				<img src="public/img/forum/board_unread.png" alt="Nieprzeczytane posty" title="Nieprzeczytane posty" />
			{% else %}
				<img src="public/img/forum/board.png" alt="Brak nowych postów" title="Brak nowych postów" />
			{% endif %}
			<h3><a href="board/show/{{ b[0].slug }}">{{ b[0].title }}</a></h3>
			<p>{{ b[0].description }}</p>
			{% if b[1]|length > 0 %}
			<ul class="sub-boards">
			{% for sub in b[1] %}
				<li><a href="board/show/{{ sub.slug }}">{{ sub.title }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</td>
		<td class="stats">
			{{ b[0].threads_count }} / {{ b[0].posts_count }}
		</td>
		<td class="last-thread">
			{% if b[0].last_title %}
			<a href="thread/show/{{ b[0].last_slug }}?page=last">{{ b[0].last_title }}</a><br />
			{{ b[0].last_date|relativedate }} przez {% if b[0].display_name %}<a href="{{ make('user', b[0].user_slug) }}">{{ b[0].display_name }}</a>{% else %}Gość{% endif %}
			{% else %}
			Brak
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
<h2 class="ionic-forum-caption">Tematy</h2>
{% if threads|length > 0 %}
<table class="ionic-table ionic-forum-table">
	<tr>
		<th class="board-content">Temat</th>
		<th class="stats">Postów / Wyśw.</th>
		<th class="last-thread">Ostatnia aktywność</th>
	</tr>
	{% for thread in threads %}
	<tr>
		<td class="board-content">
			{% if thread.is_closed %}
				<img src="public/img/forum/thread_closed.png" alt="Zamknięty temat" title="Zamknięty temat" />
			{% elseif thread.is_unread %}
				<img src="public/img/forum/thread_unread.png" alt="Nieprzeczytane posty" title="Nieprzeczytane posty" />
			{% else %}
				<img src="public/img/forum/thread.png" alt="Brak nowych postów" title="Brak nowych postów" />
			{% endif %}
			<h3>{% if thread.is_sticky %}Przyklejony: {% endif %}<a href="thread/show/{{ thread.slug }}">{{ thread.title }}</a></h3>
			<p>przez {% if thread.display_name %}<a href="{{ make('user', thread.user_slug) }}">{{ thread.display_name }}</a>{% else %}Gość{% endif %}</p>
		</td>
		<td class="stats">
			{{ thread.posts_count }} / {{ thread.views }}
		</td>
		<td class="last-thread">
			{% if thread.last_id %}
			{% if thread.last_display_name %}<a href="{{ make('user', thread.last_user_slug) }}">{{ thread.last_display_name }}</a>{% else %}Gość{% endif %}<br />
			{{ thread.last_date|relativedate }}
			{% else %}
			Brak
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class="ionic-box">
	Brak tematów w tej kategorii
</div>
{% endif %}
{{ paginator.links() }}
<div class="ionic-box" style="text-align: right">
	<div class="ionic-toolbar">
		{% if can_new %}
		<a href="board/new/{{ board.id }}">Utwórz nowy temat</a>
		{% endif %}
		<a href="forum">Strona główna forum</a>
	</div>
	<select id="forum-jumpbox">
		<option value="forum">Strona główna</option>
		{% for id, item in jumpbox %}
		<option value="{{ item[0] }}"{% if id == board.id %} selected="selected"{% endif %}>{{ item[1] }}</option>
		{% endfor %}
	</select>
</div>
<script type="text/javascript">
$(function(){
	$('#forum-jumpbox').change(function() {
		window.location.href = IONIC_BASE_URL+$(this).val();
	});
});
</script>
