<div class="ionic-box">
	<h2>Forum dyskusyjne</h2>
	{% if current_user %}
	<div class="ionic-toolbar">
		<a href="forum/new_threads">Pokaż nieprzeczytane tematy</a>
		<a href="conversations">Prywatne dyskusje</a>
	</div>
	{% endif %}
</div>
{% if boards|length > 0 %}
{% for root in boards %}
<h2 class="ionic-forum-caption">{{ root[0].title }}</h2>
<table class="ionic-table ionic-forum-table">
	<tr>
		<th class="board-content">Forum</th>
		<th class="stats">Tematów / Postów</th>
		<th class="last-thread">Ostatni post</th>
	</tr>
	{% for board in root[1] %}
	<tr>
		<td class="board-content">
			{% if unread[board[0].id] %}
				<img src="public/img/forum/board_unread.png" alt="Nieprzeczytane posty" title="Nieprzeczytane posty" />
			{% else %}
				<img src="public/img/forum/board.png" alt="Brak nowych postów" title="Brak nowych postów" />
			{% endif %}
			<h3><a href="board/show/{{ board[0].slug }}">{{ board[0].title }}</a></h3>
			<p>{{ board[0].description }}</p>
			{% if board[1]|length > 0 %}
			<ul class="sub-boards">
			{% for sub in board[1] %}
				<li><a href="board/show/{{ sub.slug }}">{{ sub.title }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</td>
		<td class="stats">
			{{ board[0].threads_count }} / {{ board[0].posts_count }}
		</td>
		<td class="last-thread">
			{% if board[0].last_title %}
			<a href="thread/show/{{ board[0].last_slug }}?page=last">{{ board[0].last_title }}</a><br />
			{{ board[0].last_date|relativedate }} przez {% if board[0].display_name %}<a href="{{ make('user', board[0].user_slug) }}">{{ board[0].display_name }}</a>{% else %}Gość{% endif %}
			{% else %}
			Brak
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
{% else %}
<div class="ionic-box">
	Brak działów do wyświetlenia
</div>
{% endif %}
<div class="ionic-box" style="text-align: right">
	<select id="forum-jumpbox">
		<option value="forum" selected="selected">Strona główna</option>
		{% for item in jumpbox %}
		<option value="{{ item[0] }}">{{ item[1] }}</option>
		{% endfor %}
	</select>
</div>
<script type="text/javascript">
$(function(){
	$('#forum-jumpbox').change(function() {
		window.location.href = IONIC_BASE_URL+$(this).val();
	});
});
</script>
