<style type="text/css">
.ionic-forum-caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.ionic-forum-table .board-content {
	width: 60%;
	text-align: left;
}

.ionic-forum-table .stats {
	width: 18%;
	text-align: center;
}

.ionic-forum-table .last-thread {
	width: 22%;
	text-align: left;
}

.ionic-forum-table td.board-content img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.ionic-forum-table td.board-content h3 {
	margin-bottom: 5px;
	padding: 0px;
}

.ionic-forum-table td.board-content ul.sub-boards {
	list-style: circle;
	padding: 0px;
	margin: 5px 0px 0px 0px;
}

.ionic-forum-table td.board-content ul.sub-boards li {
	float: left;
	margin-right: 8px;
}
</style>
<div class="ionic-box">
	<h2>Forum dyskusyjne</h2>
	{% if current_user %}
	<div class="ionic-toolbar">
		<a href="forum/new_posts">Pokaż nieprzeczytane tematy</a>
		<a href="conversations">Prywatne dyskusje</a>
	</div>
	{% endif %}
</div>
{% if boards|length < 0 %}
<div class="ionic-box">
	Brak działów do wyświetlenia
</div>
{% else %}
{% for root in boards %}
<h2 class="ionic-forum-caption">{{ root[0].title }}</h2>
<table class="ionic-table ionic-forum-table">
	<tr>
		<th class="board-content">Forum</th>
		<th class="stats">Tematów / Postów</th>
		<th class="last-thread">Ostatni post</th>
	</tr>
	{% for board in root[1] %}
	<tr>
		<td class="board-content">
			{% if unread[board[0].id] %}
				<img src="public/img/forum/board_unread.png" alt="Nieprzeczytane posty" />
			{% else %}
				<img src="public/img/forum/board.png" alt="Brak nowych postów" />
			{% endif %}
			<h3><a href="board/show/{{ board[0].slug }}">{{ board[0].title }}</a></h3>
			<p>{{ board[0].description }}</p>
			{% if board[1]|length > 0 %}
			<ul class="sub-boards">
			{% for sub in board[1] %}
				<li><a href="board/show/{{ sub.slug }}">{{ sub.title }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</td>
		<td class="stats">
			{{ board[0].threads_count }} / {{ board[0].posts_count }}
		</td>
		<td class="last-thread">
			{% if board[0].last_title %}
			<a href="thread/show/{{ board[0].last_slug }}/last">{{ board[0].last_title }}</a><br />
			{{ board[0].last_date|relativedate }} przez {% if board[0].display_name %}<a href="{{ make('user', board[0].user_slug) }}">{{ board[0].display_name }}</a>{% else %}Gość{% endif %}
			{% else %}
			Brak
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
{#{% for root in boards %}
<div class="ionic-forum-root">
	<div class="caption">{{ root[0].title }}</div>
	<div class="table-captions">
		<div class="board-content">Forum</div>
		<div class="stats">Tematów / postów</div>
		<div class="last-thread">Ostatni temat</div>
	</div>
	<ul class="boards">
		{% for board in root[1] %}
		<li>
			<div class="board-content">
				{% if unread[board[0].id] %}
					<img src="public/img/forum/board_unread.png" alt="Nieprzeczytane posty" />
				{% else %}
					<img src="public/img/forum/board.png" alt="Brak nowych postów" />
				{% endif %}
				<h3><a href="board/show/{{ board[0].slug }}">{{ board[0].title }}</a></h3>
				<p>{{ board[0].description }}</p>
				{% if board[1]|length > 0 %}
				<ul class="sub-boards">
				{% for sub in board[1] %}
					<li><a href="board/show/{{ sub.slug }}">{{ sub.title }}</a></li>
				{% endfor %}
				</ul>
				{% endif %}
			</div>
			<div class="stats">
				{{ board[0].threads_count }} / {{ board[0].posts_count }}
			</div>
			<div class="last-thread">
				{% if board[0].last_title %}
				<a href="thread/show/{{ board[0].last_slug }}/last">{{ board[0].last_title }}</a><br />
				{{ board[0].last_date|relativedate }} przez {% if board[0].display_name %}<a href="{{ make('user', board[0].user_slug) }}">{{ board[0].display_name }}</a>{% else %}Gość{% endif %}
				{% else %}
				Brak
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}#}
{% endif %}
