<h2>Edycja sezonu</h2>
<form action="admin/seasons/edit/{{ object.id }}" method="post">
	<div class="section">
		<div class="theader">
			<div class="theader2">Dane</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="year">Rok sezonu<br /><small>Pierwszy rok sezonu (dla 2012/2013 podaj 2012 itd.)</small></label>
				<div class="right">
				{% if errors.has('year') %}
					<div class="error">{{ errors.first('year') }}</div>
				{% endif %}
				<input type="text" id="year" name="year" value="{% if old_data.year != '' %}{{ old_data.year|e }}{% else %}{{ object.year|e }}{% endif %}" />
				</div>
			</div>
		</div>
	</div>
	<div class="toolbar ui-widget-header ui-corner-all">
		{{ form_token() }}
		<input type="submit" name="submit" style="width: auto" value="Zapisz" />
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
});
</script>