<h2>Edycja transferu</h2>
<form action="admin/player_transfers/edit/{{ object.id }}" method="post">
	<div class="section">
		<div class="theader">
			<div class="theader2">Podstawowe</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="date">Data<br /><small>Data wykonania transferu</small></label>
				<div class="right">
				{% if errors.has('date') %}
					<div class="error">{{ errors.first('date') }}</div>
				{% endif %}
				<input type="text" id="date" name="date" value="{% if old_data.date != '' %}{{ old_data.date|e }}{% else %}{{ object.date|e }}{% endif %}" />
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="theader">
			<div class="theader2">Opcjonalne</div>
		</div>
		<div class="section-content">
			<div class="elem">
				<label for="type">Rodzaj transferu<br /><small>Rodzaj tego transferu</small></label>
				<div class="right">
				{% if errors.has('type') %}
					<div class="error">{{ errors.first('type') }}</div>
				{% endif %}
				<select id="type" name="type">
					<option value="0"{% if (old_data.type == '0') or (object.type == '0' and old_data.type == '') %} selected="selected"{% endif %}>Zwykły</option>
					<option value="1"{% if (old_data.type == '1') or (object.type == '1' and old_data.type == '') %} selected="selected"{% endif %}>Wypożyczenie</option>
					<option value="2"{% if (old_data.type == '2') or (object.type == '2' and old_data.type == '') %} selected="selected"{% endif %}>Powrót z wypożyczenia</option>
				</select>
				</div>
			</div>
			<div class="elem">
				<label for="cost">Koszt<br /><small>Koszt transakcji. Dowolna waluta</small></label>
				<div class="right">
				{% if errors.has('cost') %}
					<div class="error">{{ errors.first('cost') }}</div>
				{% endif %}
				<input type="text" id="cost" name="cost" value="{% if old_data.cost != '' %}{{ old_data.cost|e }}{% else %}{{ object.cost }}{% endif %}" />
				</div>
			</div>
			<div class="elem">
				<label for="description">Opis<br /><small>Informacje o transferze</small></label>
				<div class="right">
				{% if errors.has('description') %}
					<div class="error">{{ errors.first('description') }}</div>
				{% endif %}
				<textarea id="description" name="description">{% if old_data.description != '' %}{{ old_data.description|e }}{% else %}{{ object.description|e }}{% endif %}</textarea>
<script type="text/javascript">CKEDITOR.replace( "description" );</script>
				</div>
			</div>
		</div>
	</div>
	<div class="toolbar ui-widget-header ui-corner-all">
		{{ form_token() }}
		<input type="submit" name="submit" style="width: auto" value="Zapisz" />
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('input[type="submit"]').button();
});
</script>