<div class="ionic-box">
	<h2>Galeria</h2>
	{% if categories|length > 0 %}
	{% for cat in categories %}
	<div class="ionic-post">
		<div class="ionic-post-left">
			<div class="ionic-post-avatar">{% if cat.image %}<img src="{{ thumb('photos', cat.image, '120x0') }}" alt="" />{% endif %}</div>		</div>
		<div class="ionic-post-right">
			<div class="ionic-post-info">
				<a href="gallery/category/{{ cat.slug }}">{{ cat.title }}</a> ({{ cat.comments_count }} komentarzy)
			</div>
			<div class="ionic-post-content">
				{{ cat.description }}
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>Brak kategorii zdjęć</p>
	{% endif %}
</div>