<h2 class="with-icon" style="background-image: url(public/img/admin/item/{{ table }}.png)">{{ grid_title }}</h2>
<div{% if filters|length > 0 %} style="width: 76%; float: left"{% endif %} id="grid-left-column">
{% if buttons|length > 0 %}
<div class="toolbar ui-widget-header ui-corner-all">
	{% for button in buttons %}
	<a href="{{ button.link }}"{% if button.class %} class="{{ button.class }}"{% endif %}>{{ button.title }}</a>
	{% endfor %}
</div>
{% endif %}
<div class="section">
	<div class="theader">
		<div class="theader2">
			{% if total_items == 1 %}
			1 element
			{% elseif total_items > 1 and total_items < 5 %}
			{{ total_items }} elementy
			{% else %}
			{{ total_items }} elementów
			{% endif %}
		</div>
	</div>
	<div class="section-subheader">
		<div id="grid-pagination-title">
			<select>
				{% for i in 1..total_pages %}
				<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
			</select>
		</div>
		<div id="grid-pagination">
			<div id="slider">
			</div>
		</div>
		<div id="grid-selected-items">
			{% if draw_checkboxes %}
			{% for ma in multi_actions %}
			<button id="multiaction-{{ ma.name }}">{{ ma.title }}</button>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<table class="itable" id="grid-view">
		<tr>
			{% if draw_checkboxes %}
			<th style="width: 28px"><input type="checkbox" class="grid-checkbox checkbox-all" /></th>
			{% endif %}
			{% for column in columns %}
			<th{% if order_column == column.name %} class="active"{% endif %}{% if column.name == 'id' %} style="width:50px"{% elseif column.name == 'created_at' %} style="width:140px"{% endif %}>
				{% if column.sort_column %}
				<a href="{{ (grid_url~"/sort/"~column.name)|url }}">{{ column.title }}</a>
				{% else %}
				{{ column.title }}
				{% endif %}
			</th>
			{% endfor %}
			{% if actions|length > 0 %}
			<th style="width: {{ actions|length * 39 }}px">Akcje</th>
			{% endif %}
		</tr>
		{% if data|length > 0 %}
		{% for obj in data %}
		<tr class="grid-column">
			{% if draw_checkboxes %}
			<td><input type="checkbox" class="grid-checkbox" name="{{ obj.id }}" /></td>
			{% endif %}
			{% for column in columns %}
			<td{% if column.name == 'id' %} class="centered"{% endif %}>{{ obj[column.name] }}</td>
			{% endfor %}
			{% if actions|length > 0 %}
			<td class="centered">
				{% for action in actions %}
				<a href="{{ action.link|format(obj.id) }}"{% if action.class %} class="{{ action.class }}"{% endif %}>{{ action.title }}</a>
				{% endfor %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% else %}
		<tr class="grid-column">
			<td colspan="{{ colspan }}">
				<p>Brak wyników do wyświetlenia</p>
			</td>
		</tr>
		{% endif %}
	</table>
</div>
</div>
{% if filters|length > 0 or custom_filters|length > 0 %}
<div style="width: 48px; float: right; display: none" id="grid-hide-column">
	<div class="toolbar ui-widget-header ui-corner-all">
		<a class="show-filter">Pokaż</a>
	</div>
</div>
<div style="width: 20%; float: right" id="grid-right-column">
	<div class="toolbar ui-widget-header ui-corner-all">
		<a href="{{ (grid_url~"/filter/_clear_all")|url }}" class="cancel-button">Zresetuj filtry</a> <a class="hide-filter">Ukryj</a>
	</div>
	{% for filter in filters %}
	<div class="section">
		<div class="theader">
			<div class="theader2">
				{{ filter.title }}
			</div>
		</div>
		<div class="section-content{% if filter.type == 'perpage' or filter.type == 'select' %} filter{% endif %}">
			{% if filter.type == 'perpage' %}
				<ul class="filter-list">
				{% for option in filter.options %}
					{% if option == perpage  %}
					<li class="active">{{ option }}</li>
					{% else %}
					<li><a href="{{ (grid_url~"/filter/"~filter.name~"/"~option)|url }}">{{ option }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			{% elseif filter.type == 'select' %}
				<ul class="filter-list">
				{% for k, option in filter.options %}
					{# ugly hack but well, it works #}
					{% if (filter_values[filter.name] == '0' and k == '0') or (filter_values[filter.name] == k and k != '0') %}
					<li class="active">{{ option }}</li>
					{% else %}
					<li><a href="{{ (grid_url~"/filter/"~filter.name~"/"~k)|url }}">{{ option }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			{% elseif filter.type == 'search' %}
			<form action="{{ (grid_url~"/filter/"~filter.name)|url }}" method="post">
			<div>
				<select name="how">
					<option value="startswith"{% if filter_values[filter.name].type == 'startswith' %} selected="selected"{% endif %}>Zaczyna się na</option>
					<option value="endswith"{% if filter_values[filter.name].type == 'endswith' %} selected="selected"{% endif %}>Kończy się na</option>
					<option value="contains"{% if filter_values[filter.name].type == 'contains' %} selected="selected"{% endif %}>Zawiera</option>
					<option value="exact"{% if filter_values[filter.name].type == 'exact' %} selected="selected"{% endif %}>To</option>
				</select>
				<input type="text" name="query" value="{{ filter_values[filter.name].query|e }}"/>
				{{ form_token() }}
				<input type="submit" style="width: auto" value="Szukaj" class="search-button" />
			</div>
			</form>
			{% elseif filter.type == 'date' %}
			<form action="{{ (grid_url~"/filter/"~filter.name)|url }}" method="post">
				<div>
					Od: <input type="text" name="from" value="{{ filter_values[filter.name].from }}" class="datepicker" /><br />
					Do: <input type="text" name="to" value="{{ filter_values[filter.name].to }}" class="datepicker" />
					{{ form_token() }}
					<input type="submit" style="width: auto" value="Szukaj" class="search-button" />
				</div>
			</form>
			{% elseif filter.type == 'autocomplete' %}
			<form action="{{ (grid_url~"/filter/"~filter.name)|url }}" method="post">
				<div>
				<input type="text" name="query" id="autocomplete-{{ filter.name }}" value="{{ filter_values[filter.name]|e }}" />
				{{ form_token() }}
				<input type="submit" style="width: auto" value="Szukaj" class="search-button" />
				</div>
			</form>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% if custom_filters|length > 0 %}
	<div class="section">
		<div class="theader">
			<div class="theader2">
				Inne filtry
			</div>
		</div>
		<div class="section-content">
			<ul class="section-list">
				{% for k,cf in custom_filters %}
				<li>{{ cf.type }} <small><a href="{{ (grid_url~"/filter/_customdel/"~k)|url }}">(wyłącz)</a></small></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
</div>
{% endif %}
<script type="text/javascript">
{% if draw_checkboxes %}
function initCheckboxes()
{
	$('.checkbox-all').change(function(){
		$('.grid-checkbox').prop('checked', ($(this).prop('checked')));
		$('.grid-checkbox:not(.checkbox-all)').each(function() {
			if ($(this).prop('checked'))
			{
				IonicAdmin.addCheckbox($(this).prop('name'));
			}
			else
			{
				IonicAdmin.removeCheckbox($(this).prop('name'));
			}
		});
	});

	$('.grid-checkbox:not(.checkbox-all)').change(function(){
		if ($(this).prop('checked'))
		{
			IonicAdmin.addCheckbox($(this).prop('name'));
		}
		else
		{
			IonicAdmin.removeCheckbox($(this).prop('name'));
		}
	});
}
{% endif %}
function paginate(page)
{
	$('#grid-view .grid-column').remove();

	$.get(IONIC_BASE_URL+'{{ grid_url }}/index/'+page, function(html) {
		$('#grid-view').append(html);

		$('#grid-view .delete-button').button({text: false, icons: {primary: 'ui-icon-trash'}});
		$('#grid-view .edit-button').button({text: false, icons: {primary: 'ui-icon-pencil'}});
		$('#grid-view .lock-button').button({text: false, icons: {primary: 'ui-icon-locked'}});
		$('#grid-view .unlock-button').button({text: false, icons: {primary: 'ui-icon-unlocked'}});
		$('#grid-view .display-button').button({text: false, icons: {primary: 'ui-icon-search'}});
		$('#grid-view .case-button').button({text: false, icons: {primary: 'ui-icon-suitcase'}});
		$('#grid-view .accept-button').button({text: false, icons: {primary: 'ui-icon-check'}});
		$('#grid-view .time-button').button({text: false, icons: {primary: 'ui-icon-clock'}});

		{% if draw_checkboxes %}
		$('.grid-checkbox:not(.checkbox-all)').each(function() {
			$(this).prop('checked', IonicAdmin.isCheckboxAdded($(this).prop('name')));
		});

		initCheckboxes();
		{% endif %}
		{% if inline_edit %}
		$('.inline-edit').editable(IONIC_BASE_URL+'{{ grid_url }}/inline', {
			tooltip: 'Kliknij, aby edytować',
			submitdata: { {{ csrf_key }}: IonicAdmin.csrfToken },
			onblur: 'submit'
		});
		{% endif %}
	});
}

$(function(){
	{% if draw_checkboxes %}initCheckboxes();{% endif %}
	{% if inline_edit %}
	$('.inline-edit').editable(IONIC_BASE_URL+'{{ grid_url }}/inline', {
		tooltip: 'Kliknij, aby edytować',
		submitdata: { {{ csrf_key }}: IonicAdmin.csrfToken },
		onblur: 'submit'
	});
	{% endif %}
	$('#slider').slider({
		max: {{ total_pages }},
		min: 1,
	}).bind('slidechange', function(event, ui) {
		paginate(ui.value);
	}).bind('slide', function(event, ui) {
		$('#grid-pagination-title select').val(ui.value);
	});

	$('#grid-pagination-title select').change(function(){
		$('#slider').slider('value', $(this).val());
	});

	$('.hide-filter').button({text: false, icons: {primary: 'ui-icon-arrowthickstop-1-e'}}).click(function() {
		$('#grid-right-column').animate({width: 'toggle'}, 1200, function() {
			$('#grid-hide-column').animate({width: 'toggle'}, 500);
		});
		$('#grid-left-column').animate({width: '90%'}, 1200);
	});

	$('.show-filter').button({text: false, icons: {primary: 'ui-icon-arrowthickstop-1-w'}}).click(function() {
		$('#grid-left-column').animate({width: '76%'}, 1200);
		$('#grid-hide-column').animate({width: 'toggle'}, 500, function() {
			$('#grid-right-column').animate({width: 'toggle'}, 1200);
		});
	});

	$('button').button();
	$('.delete-button').button({text: false, icons: {primary: 'ui-icon-trash'}});
	$('.clear-button').button({icons: {primary: 'ui-icon-trash'}});
	$('.edit-button').button({text: false, icons: {primary: 'ui-icon-pencil'}});
	$('.lock-button').button({text: false, icons: {primary: 'ui-icon-locked'}});
	$('.unlock-button').button({text: false, icons: {primary: 'ui-icon-unlocked'}});
	$('.display-button').button({text: false, icons: {primary: 'ui-icon-search'}});
	$('.case-button').button({text: false, icons: {primary: 'ui-icon-suitcase'}});
	$('.add-button').button({icons: {primary: 'ui-icon-plus'}});
	$('.cancel-button').button({icons: {primary: 'ui-icon-cancel'}});
	$('.accept-button').button({text: false, icons: {primary: 'ui-icon-check'}});
	$('.time-button').button({text: false, icons: {primary: 'ui-icon-clock'}});
	$('.search-button').button();

	$('.datepicker').datepicker({dateFormat: 'yy-mm-dd' });

	{% for filter in filters %}
	{% if filter.type == 'autocomplete' %}
	$('#autocomplete-{{ filter.name }}').autocomplete({
		minLength: 2,
		source: IONIC_BASE_URL+'{{ grid_url }}/autocomplete/{{ filter.name }}'
	});
	{% endif %}
	{% endfor %}

	{% if draw_checkboxes %}
	{% for ma in multi_actions %}
	$('#multiaction-{{ ma.name }}').click(function(){
		var elem = IonicAdmin.getCheckboxCount();

		if (elem <= 0)
		{
			return;
		}

		if (elem == 1)
		{
			var answer = confirm('Wykonać tą operacje na jednym elemencie?');
		}
		else
		{
			var answer = confirm('Wykonać tą operacje na '+elem+' elementach?');
		}

		if (answer)
		{
			$.post(IONIC_BASE_URL+'{{ grid_url }}/multiaction/{{ ma.name }}', {ids: IonicAdmin.collectCheckboxIds(), csrf_token: IonicAdmin.csrfToken}, function() {
				$('.checkbox-all').prop('checked', false);
				IonicAdmin.clearCheckbox();
				paginate(1);
			});
		}
	});
	{% endfor %}
	{% endif %}
});
</script>