<!DOCTYPE html>
<html lang="pl">
<head>
<base href="{{ base() }}/" />
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>{{ page.title }}</title>
{% for key, value in page.http_equiv %}
<meta http-equiv="{{ key }}" content="{{ value }}" />
{% endfor %}
{% for key, value in page.meta %}
<meta name="{{ key }}" content="{{ value }}" />
{% endfor %}
{% for key, value in page.properties %}
<meta property="{{ key }}" content="{{ value }}" />
{% endfor %}
<script type="text/javascript">
var IONIC_BASE_URL = "{{ base() }}/";
</script>
{{ scripts }}
{{ styles }}
<link rel="stylesheet" href="{{ base() }}/style.css" media="all" />
<link rel="stylesheet" href="{{ base() }}/public/css/ionic.css" media="all" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="news/rss" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="news/atom" />
</head>
<body>
{% if notifications|length > 0 %}
<div id="ionic-notifications">
	<span>Powiadomienia: ({{ notifications|length }})</span>
	<ul id="ionic-notifications-list">
		{% for n in notifications %}
		<li style="background-image: url(public/img/notifications/{{ n.type }}.png)">
			<img src="public/img/icons/delete.png" alt="" class="ionic-delete-notification" id="notification-id-{{ n.id }}" />
			<a href="{{ n.link }}">{{ n.message }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% if cookie_policy %}
<div class="cc-cookies">
	Pełna funkcjonalność tej strony wymaga internetowych ciasteczek, więcej informacji o nich <a href="http://wszystkoociasteczkach.pl/podstawa-prawna/" title="znajdziesz tutaj">znajdziesz tutaj</a>. <a class="cc-cookie-accept">AKCEPTUJĘ</a>
</div>
{% endif %}
<div id="page-container">
	<h1>Szkielet szablonu dla systemu IonicCMS</h1>
	<ul id="page-menu">
		{% for m in menu %}
		<li>{{ m.data.title }}
		{% if m.children|length > 0 %}
			<ul>
				{% for m2 in m.children %}
				<li><a href="{{ m2.data.link }}">{{ m2.data.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		</li>
		{% endfor %}
	</ul>
	<div id="page-columns">
		<div id="page-column-left">
			<div class="block">
				<div class="block-title">
					Panel użytkownika
				</div>
				<div class="block-content loginbox">
					{{ widget('Panel logowania', 'loginbox') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Newsletter
				</div>
				<div class="block-content newsletter">
					<form action="page/newsletter" method="post">
						<div>
							<input type="text" name="email" value="" />
							<input type="submit" name="submit" value="Zapisz / wypisz" />
						</div>
					</form>
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Wyszukiwarka
				</div>
				<div class="block-content search">
					<form action="page/search" method="post">
						<div>
							<input type="text" name="query" value="" />
							<input type="submit" name="submit" value="Szukaj" />
						</div>
					</form>
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Shoutbox (<a href="shoutbox">Archiwum</a>)
				</div>
				<div class="block-content">
					{{ widget('Shoutbox', 'shoutbox') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Sonda
				</div>
				<div class="block-content">
					{{ widget('Sonda', 'poll') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Piłkarz miesiąca
				</div>
				<div class="block-content">
					{{ widget('Piłkarz miesiąca', 'monthpick') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Piłkarz meczu
				</div>
				<div class="block-content">
					{{ widget('Piłkarz meczu', 'matchpick') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Urodziny
				</div>
				<div class="block-content">
					{{ widget('Urodziny', 'birthdays', {'limit': 2}) }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Buttony
				</div>
				<div class="block-content">
					{{ widget('Buttony', 'buttons') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Ostatnie komentarze
				</div>
				<div class="block-content">
					{{ widget('Komentarze', 'comments') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Ostatnie pliki
				</div>
				<div class="block-content">
					{{ widget('Pliki', 'files') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Ostatnie video
				</div>
				<div class="block-content">
					{{ widget('Videos', 'videos') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Ostatnie zdjęcia
				</div>
				<div class="block-content">
					{{ widget('Zdjęcia', 'photos') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Kontuzje
				</div>
				<div class="block-content">
					{{ widget('Kontuzje', 'injuries') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Następny mecz
				</div>
				<div class="block-content">
					{{ widget('Mecz', 'match', { 'type': 'next' }) }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Statystyki strony
				</div>
				<div class="block-content">
					{{ widget('Statystyki strony', 'pagestats') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Relacja
				</div>
				<div class="block-content">
					{{ widget('Relacja', 'relation') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Newsy
				</div>
				<div class="block-content">
					{{ widget('Newsy', 'news') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Bramki
				</div>
				<div class="block-content">
					{{ widget('Statystyki', 'stats') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Tabela
				</div>
				<div class="block-content">
					{{ widget('Tabela', 'table') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Następne mecze
				</div>
				<div class="block-content">
					{{ widget('Terminarz', 'timetable') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Transfery
				</div>
				<div class="block-content">
					{{ widget('Transfery', 'transfers') }}
				</div>
			</div>
			<div class="block">
				<div class="block-title">
					Typer
				</div>
				<div class="block-content">
					{{ widget('Użytkownicy', 'users') }}
				</div>
			</div>
		</div>
		<div id="page-column-right">
			<ul id="page-breadcrumb">
				{% for item in page.breadcrumb %}
				<li><a href="{{ item.link }}">{{ item.title }}</a> &raquo;</li>
				{% endfor %}
			</ul>
			<div id="page-column-right-pad">
				{% if notice %}
				<div class="ionic-notice">
					{{ notice }}
				</div>
				{% endif %}
				{{ content }}
			</div>
		</div>
	</div>
</div>
</body>
</html>
