<div class="ionic-box">
	<h2>Kontuzje</h2>
	<ul class="players">
		{% for player in injuries.results %}
		<li>
			<img src="{{ thumb('players', player.image, '100x0') }}" alt="Zawodnik" />
			<div class="player-info">
				<strong>{{ player.name }}</strong>
			</div>
			<div class="player-info">
				<span>Opis: {{ player.injury }}</span>
			</div>
			<div class="player-info">
				<span>Data wyzdrowienia: {{ player.recovery_date|specialdate }}</span>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{{ injuries.links() }}
