{% for n in main_news %}
<div class="ionic-news-view">
	<div class="ionic-news-left">
		{% if n.big_image %}
		<img src="public/upload/images/{{ n.big_image }}" title="{{ n.image_text }}" alt="{{ n.image_text }}" />
		{% elseif n.small_image %}
		<img src="public/upload/images/{{ n.small_image }}" title="{{ n.image_text }}" alt="{{ n.image_text }}" />
		{% endif %}
	</div>
	<div class="ionic-news-right">
		<h2><a href="{{ make('news', n.slug, n.external_url) }}">{{ n.title }}</a></h2>
		<div class="ionic-news-info">
			<span class="ionic-news-date">{{ n.created_at|date }}</span>
			<span class="ionic-news-comments">{{ n.comments_count }} komentarzy</span>
			<span class="ionic-news-author"><a href="users/profile/{{ n.user_slug }}">{{ n.display_name }}</a></span>
		</div>
		<p>{{ n.content_intro }}</p>
	</div>
</div>
{% endfor %}
<div class="ionic-news-view-container">
{% for n in news %}
	<div class="ionic-news-view ionic-news-small{{ cycle(['', ' ionic-news-small2'], loop.index0) }}">
		<div class="ionic-news-left">
			{% if n.small_image %}
			<img src="public/upload/images/{{ n.small_image }}" title="{{ n.image_text }}" alt="{{ n.image_text }}" />
			{% endif %}
		</div>
		<div class="ionic-news-right">
			<h2><a href="{{ make('news', n.slug, n.external_url) }}">{{ n.title|limit(40) }}</a></h2>
			<div class="ionic-news-info">
				<span class="ionic-news-date">{{ n.created_at|date }}</span>
				<span class="ionic-news-comments">{{ n.comments_count }} komentarzy</span>
			</div>
			<p>{{ n.content_intro|limit(200) }}</p>
		</div>
	</div>
{% endfor %}
</div>
<ul class="ionic-list">
{% for n in archive %}
<li>
	<a href="{{ make('news', n.slug, n.external_url) }}">{{ n.title }} ({{ n.comments_count }} komentarzy)</a>
	<br />
	<small>{{ n.created_at|date }}</small>
</li>
{% endfor %}
<li>
	<a href="news/archive">Przejdź do archiwum</a>
</li>
</ul>
<div class="ionic-box">
	<h2>Kalendarz</h2>
	{{ widget('Kalendarz', 'calendar') }}
</div>
