<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="{{ base() }}/" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ news.title }}</title>
    <style type="text/css">
        body {
            font-size: 14px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
	<h1>{{ news.title }}</h1>
	{% if news.big_image %}
	<img src="public/upload/images/{{ news.big_image }}" style="margin-right: 10px; float: left" alt="" />
	{% elseif news.small_image %}
	<img src="public/upload/images/{{ news.small_image }}" style="margin-right: 10px; float: left" alt="" />
	{% endif %}
	{{ news.content }}
	<p style="text-align: right; font-size: 0.8em">
		Napisane przez: {{ news.display_name }} dnia {{ news.created_at|date }}
	</p>
</body>
</html>